AniWin.Windows/Service References/AniService/AniService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFrostScrapeTimeInMinutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
        <xs:element minOccurs="0" name="predictionDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrostScrapeTimeInMinutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFrostScrapeTimeInMinutesResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>